<div class="pg-header">
  <div class="container-1170">
    <h1 class="title">Brands Homepage</h1>
    <h1>Brands</h1>
    <div class="row">
      <div flex-gt-sm="50" flex="85" class="input-leftIcon">
        <span class="input-icon material-icons">search</span>
        <input #query (keyup)="search(query.value)" placeholder="Search by Parent Brand or Brand"/>
      </div>
    </div>
  </div>
</div>

<div class="pg-body">
  <div class="container-1170">
    <!--<div class="row">
      <div class="details-row">
        <h5>PARENT BRANDS</h5>
      </div>
      <div class="actionBtn-row">
        <md-button class="primaryBtn md-raised" ng-click="vm.addParentBrand()">Add New Parent Brand</md-button>
      </div>
    </div>
    <div class="search-results">
      <md-card layout-padding>
        <table>
          <thead>
          <tr>
            <th>Parent Brand ID</th>
            <th class="column-sort" ng-click="vm.sortBy('parentBrand.name')">Parent Brand Name</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="parentBrand in vm.parentBrands | orderBy:vm.sort.predicate:vm.sort.reverse">
            <td data-label="Parent Brand ID">{{parentBrand.id}}</td>
            <td data-label="Name"><a ui-sref="parentBrand({parentBrandId: parentBrand.id})">{{parentBrand.name}}</a>
            </td>
          </tr>
          </tbody>
        </table>
      </md-card>
    </div>-->

    <div class="row">
      <div class="details-row">
        <h5>BRANDS</h5>
      </div>
      <div class="actionBtn-row">
        <button md-raised-button class="primaryBtn" >Add New Brand</button>
      </div>
    </div>
    <div class="search-results">
      <md-card layout-padding>
        <table>
          <thead>
          <tr>
            <th>Brand ID</th>
            <th class="column-sort" >Brand Name</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let brand of allBrands">
            <td data-label="Brand ID">{{brand.id}}</td>
            <td data-label="Name"><a >{{brand.name}}</a></td>
          </tr>
          </tbody>
        </table>
      </md-card>
    </div>
  </div>
</div>
