@font-face {
    font-family: 'Gotham';
    src:url('./rad2/assets/fonts/Gotham-Light.eot') format('embedded-opentype'),
        url('./rad2/assets/fonts/Gotham-Light.otf') format('opentype'),
        url('./rad2/assets/fonts/Gotham-Light.ttf') format('truetype'),
        url('./rad2/assets/fonts/Gotham-Light.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src:url('./rad2/assets/fonts/Gotham-Book.eot') format('embedded-opentype'),
        url('./rad2/assets/fonts/Gotham-Book.otf') format('opentype'),
        url('./rad2/assets/fonts/Gotham-Book.ttf') format('truetype'),
        url('./rad2/assets/fonts/Gotham-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src:url('./rad2/assets/fonts/Gotham-Medium.eot') format('embedded-opentype'),
        url('./rad2/assets/fonts/Gotham-Medium.otf') format('opentype'),
        url('./rad2/assets/fonts/Gotham-Medium.ttf') format('truetype'),
        url('./rad2/assets/fonts/Gotham-Medium.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src:url('./rad2/assets/fonts/Gotham-Bold.eot') format('embedded-opentype'),
        url('./rad2/assets/fonts/Gotham-Bold.otf') format('opentype'),
        url('./rad2/assets/fonts/Gotham-Bold.ttf') format('truetype'),
        url('./rad2/assets/fonts/Gotham-Bold.woff')format('woff');
    font-weight: 900;
    font-style: normal;
}
